# ZoneGlow mobile - dependencies and build artifacts are never committed.
node_modules/
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
*.apk
*.aab